.landing-container {
  font-family: "Poppins", sans-serif;
  color: #333;
  background-color: #fff;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: #f5f5f5;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 1.8rem;
  color: #a0522d;
  font-weight: bold;
}

.nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.3s;
}

.nav a:hover {
  color: #a0522d;
}

.hero {
  background-image: url("/src/assets/img-restaurant.png");
  background-size: cover;
  background-position: center;
  color: #ffffff;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.hero-text {
  position: relative;
  max-width: 600px;
  z-index: 1;
}

.hero h2 {
  font-size: 2.8rem;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.1rem;
  margin-bottom: 30px;
}

.btn {
  display: inline-block;
  padding: 12px 28px;
  background-color: #a0522d;
  color: #fff;
  border-radius: 25px;
  font-weight: bold;
  text-decoration: none;
  transition: background 0.3s;
}

.btn:hover {
  background-color: #f38049;
  color:black;
}

.about {
  padding: 60px 20px;
  max-width: 800px;
  margin: auto;
}

.about h3 {
  color: #a0522d;
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.about p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #a0522d;
}

.footer {
  background-color: #f5f5f5;
  padding: 20px;
  width: 100%;
  height: 100%;
  margin-top: 40px;
  font-size: 0.9rem;
  color: #a0522d;
}
